<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-vector/abstract-aqua-green-blue-watercolor-splash-texture_1017-31339.jpg?w=1380&t=st=1686119034~exp=1686119634~hmac=81c1e53d71ad03dc8ff4c276ed3e0b112977f7b58ca754af21209b836a2fddef);">
  <div class="container">
    <h1><strong>Simple pool</strong></h1>
    <p>Free our pools to the world</p>
   <a class="btn btn-ghost">Rent your pool</a>
  </div>
</div>


<div class= "pools-grid">
<% @pools.each do |pool| %>
<div class="card" style="width: 18rem;">
  <img src="https://www.poolsana.de/media/image/56/0c/a8/oval-folie-grau-hl-grau-2022_600x600@2x.jpg">
  <div class="card-body">
    <h5 class="card-title"><%= pool.address %></h5>
    <h6 class="card-title">€<%= pool.size %></h6>
      <p class="card-title"><%= pool.price%></p>
    <a href="#" class="btn btn-primary">Book</a>
  </div>
</div>
<% end %>
</div>

€
