// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
// $yellow: #FFC65A;
// $orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// custom for D style:
$columbia-blue: #BBDEF0;
$prussian-blue: #023047;
$blue-green: #219EBC;
$ut-orange: #FB8500;
$selective-yellow: #FFB703;

// custom for B style:
$lightblue: #aee2ff;
$brownish: #bf9270;
$orange: #f79327;
$yellow: #ffc93c;
$lightyellow: #fcffb2;

// custom for A style:
$lightaqua: #79e0ee;
$whitish: #fbffdc;
$yellowish: #ffe569;
$cyan: #00ffca;
$darkcyan: #27e1c1;

//// other custom:
// background color
$superlightaqua: #dafaff;
// title color and main button background color ("emphasize color")
$deep-blue: #062356;
// secondary text and hover color
$orange: #f79327;
// button text color
$yellow: #ffc93c;

$lightaqua: #79e0ee;
