#pool_details {
  height: 300px;
  margin-left: 160px;
}

.form-label {
  margin-left: 4px
}

#big_logo {
  width: 150px;
  height: 150px;
  margin-left: 540px;
  padding: 15px

}

#new_header {
  margin-bottom: 10px;

  // border-bottom: double;
  // border: solid;
  // margin-bottom: 100px;
  background-image: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2)), asset-url("banner-bg-img.png");
  background-size: cover;
  background-position: center;
}

.slogan {
  margin-left: 530px;
}

.btn_onl {
  margin-left: 130px;

}

#pool_title {
  border-radius: 40px;
}

#pool_address {
  border-radius: 40px;
}

#pool_size {
  border-radius: 40px;
}

#pool_price {
  border-radius: 40px;
}

#pool_images {
  border-radius: 40px;
}

#pool_details {
  border-radius: 15px;
}
@media (max-width: 1040px) {
  .container, .row{
    width: 900px ;
  }
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container, .row {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container, .row {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container, .row {
    width: 300px;
  }
}
