.button-main {
  font-size: large;
  font-weight: 800;
  border-radius: 25px;
  text-decoration: none;
  background-color: $darkerblue;
  box-shadow: 3px 3px 9px grey;
  color: $whiteblue;
  padding: 15px 30px;
  transition: all 0.3s;
}

.button-main:hover {
  background-color: $lightishblue;
  color: $darkerblue;
}

.new-form-btn {
  margin-left: 300px;
  margin-top: 20px;
}
