.card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  transition: all 0.3s;
}

.card:hover {
  color: $orange;
  font-weight: bolder;
}

.card:active {
  background-color: $deep-blue;
  border: 3px solid $deep-blue;
  box-shadow: none;
}

.card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card h5 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

.card .card-title {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
  text-align: center;
}

.card-details {
  display: flex;
  justify-content: space-between;
}
