.footer-pool {
  display:flex;
  justify-content: flex-end;
  background: white;
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 100%;
}

.list-social {
  // display: inline-block;
  position: relative;
}
