.navbar-lewagon {
  justify-content: space-between;
  background: $green;
}

#navbarSupportedContent{
  display:flex;
  justify-content: flex-end;
  // margin-left: 1620px;
}

.logo {
  width: 60px;
}
